body {
    background-color: rgb(240, 247, 244);
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#frame {
    background-color: rgb(211, 214, 209);
    margin: auto;
    width: 600px;
    height: 600px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
#console {
    padding: 5px;
}
#title {
    position: absolute;
    top: 100px;
    left: 100px;
    width:100% ;
    height: 100px;
    background-color: aqua;
}
#led {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
}
.button {
    width: 100px;
    height: 50px;
    background-color: aquamarine;
    border: solid 1px black;
    border-radius: 5%;
    margin: 10px;
}
.button:hover{
    background-color: red;
    color: white;
}